<?xml version="1.0" encoding="utf-8"?>

<configuration>
	
	<connectionStrings>
		<add name="DbMandiriAccess" connectionString="Data Source=LAPTOP-P41DCSGI;Initial Catalog=Mandiri;Integrated Security=True;TrustServerCertificate=true" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
		
</configuration>